<div class="container-fluid h-100">
  <div class="row justify-content-center h-100">

    <div class="col-2" id="blue">
      <app-left-side></app-left-side>
    </div>

    <div class="col-10">
      <div class="row row1">
        <app-title></app-title>
      </div>

      <div class="row row2 blue">
        <app-notification1></app-notification1>
      </div>
      <div class="row row3">
        <app-panel class="container-fluid h-100"></app-panel>
      </div>
      <div class="row row4 blue">
        <app-notification2 class="container-fluid h-100"></app-notification2>
      </div>
    </div>
  </div>
</div>
